.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  background-color: #222;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.25);
  width: 95%;
  border-radius: 13px;
  height: 80px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.logo {
  color: white;
  justify-self: start;
  cursor: pointer;
  align-items: center;
}

.fa-react {
  margin-left: 0.2rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links i {
  margin-right: 10px;
}

.nav-links:hover {
  background-color: rgb(80, 80, 238);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.fa-bars,
.fa-times {
  color: #fff;
}

.menu-icons {
  display: none;
}
.nav-links-mobile {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background-color: #fafafa;
  border-radius: 3px;
  text-decoration: none;
  color: #222;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: -110%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0%;
  }

  .nav-links {
    display: block;
    width: 100%;
    color: #222;
    padding: 1rem 0;
  }
  .nav-links:hover {
    background-color: rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
  }
  .menu-icons {
    display: block;
  }

  .nav-links-mobile {
    padding: 1.5rem;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 80%;
    margin: auto;
  }
}
